@import './fonts';

:root {
  --banner-background-color: #47b7df;
  --banner-contact-dark-color: #34314c;
  --banner-contact-light-color: #ffffff;
  --banner-main-title-color: #f8d378;

  --red-color: #ff7373;
  --light-text-color: #ffffff;
  --lazure-text-color: #47b7df;
  --dark-grey-text-color: #4a4946;
  --light-grey-text-color: #747474;

  --counter-text: #4a4946;
  --counter-btn-color: #999898;
  --why-title-color: #6a6a6a;
  --why-text-color: #404040;
  --dividers-color: #e0e0e0;
  --client-title-text: #4f4f4f;
  --content-description: #383030;
  --form-text-color: #c0c5c6;


  --nav-background-color: #33314b;
  --light-gray-background-color: #f3f3f3;
  --dark-footer-background-color: #2a2f38;

  --blue-border-btn-color: #63b5f1;
  --footer-title-gray-color: #9497a1;
  --footer-text-gray-color: #5a5d6c;

  --main-font: 'OpenSans Regular', sans-serif;
  --main-font-light: 'OpenSans Light', sans-serif;
  --main-font-semiBold: 'OpenSans SemiBold', sans-serif;
  --font-bold: 'LiebeDoris Bold', sans-serif;
  --font-shadow: 'SchadowBT Roman', sans-serif;
}
