@import '../css/variables.css';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

    body {
      font-family: var(--main-font);
    }

    html, body {
      max-width: 100%;
      overflow-x: hidden;
    }

   .container {
    margin: 0 auto;
    width: 980px;
    padding: 0 15px;
    }
